{{#if this.object.currentObject}}
<div class="mb-3">
  <div class="card px-0">

    <div class="card-header border-0 text-uppercase">
      <i class="fa-solid fa-file-code"></i>
      <span class="ms-1">{{if
          @module.input_placeholder
          @module.input_placeholder
          "Storylang Stack"
        }}
        {{if
          @module.input_required
          (html-safe '<span class="text-danger">*</span>')
        }}</span>
    </div>

    <div
      class="card-body px-3 mx-0 overflow-y-scroll overflow-x-hidden"
      style="height:40vh;"
    >
      <div class="my-3">
        <Textarea
          @value={{this.object.currentObject.modules.storylang_stack.platformDescription}}
          placeholder="Describe your platform for AI to generate your initial codebase architecture"
          class="form-control border border-1 border-primary"
          rows="6"
          {{on "change" this.updateObject}}
        />
          <button
            class="btn btn-sm btn-primary mt-2" type="button" {{on "click" this.getAI}}
          >Generate platform map using AI</button>
      </div>
    </div>

    <div class="card-footer border-0">
    </div>

  </div>

  <div class="form-text text-end">{{if
      @module.input_placeholder
      @module.input_placeholder
      (concat "Enter " @module.input_slug)
    }}</div>
</div>
{{/if}}