{{#if this.object.currentObject}}
<div class="mb-3">
  <div class="card px-0">
    <div class="card-header border-0 text-uppercase">
      <i class="fa-solid fa-file-code"></i>
      <span class="ms-1">{{if
          @module.input_placeholder
          @module.input_placeholder
          "Visual Guide"
        }}
        {{if
          @module.input_required
          (html-safe '<span class="text-danger">*</span>')
        }}</span>
    </div>

    <div
      class="card-body px-3 mx-0 overflow-y-scroll overflow-x-hidden"
      style="height:40vh;"
    >
      <div class="row">
        <div class="col-6 my-3">
          <Input
            id={{concat
              @type.slug
              "-"
              @module.input_slug
              "-"
              @id
              "-color-primary"
            }}
            @value={{this.obj.colorPrimary}}
            @type="color"
            class="form-control"
            placeholder=""
            autocomplete="off"
            {{on "change" this.updateObject}}
          />
          <div class="form-text text-end">Primary Colour</div>
        </div>
        <div class="col-6 my-3">
          <Input
            id={{concat
              @type.slug
              "-"
              @module.input_slug
              "-"
              @id
              "-color-secondary"
            }}
            @value={{this.obj.colorSecondary}}
            @type="color"
            class="form-control"
            placeholder=""
            autocomplete="off"
            {{on "change" this.updateObject}}
          />
          <div class="form-text text-end">Secondary Colour</div>
        </div>
        <div class="col-6 my-3">
          <Input
            id={{concat
              @type.slug
              "-"
              @module.input_slug
              "-"
              @id
              "-color-info"
            }}
            @value={{this.obj.colorInfo}}
            @type="color"
            class="form-control"
            placeholder=""
            autocomplete="off"
            {{on "change" this.updateObject}}
          />
          <div class="form-text text-end">Info Colour</div>
        </div>
        <div class="col-6 my-3">
          <Input
            id={{concat
              @type.slug
              "-"
              @module.input_slug
              "-"
              @id
              "-color-success"
            }}
            @value={{this.obj.colorSuccess}}
            @type="color"
            class="form-control"
            placeholder=""
            autocomplete="off"
            {{on "change" this.updateObject}}
          />
          <div class="form-text text-end">Success Colour</div>
        </div>
        <div class="col-6 my-3">
          <Input
            id={{concat
              @type.slug
              "-"
              @module.input_slug
              "-"
              @id
              "-color-warning"
            }}
            @value={{this.obj.colorWarning}}
            @type="color"
            class="form-control"
            placeholder=""
            autocomplete="off"
            {{on "change" this.updateObject}}
          />
          <div class="form-text text-end">Warning Colour</div>
        </div>
        <div class="col-6 my-3">
          <Input
            id={{concat
              @type.slug
              "-"
              @module.input_slug
              "-"
              @id
              "-color-danger"
            }}
            @value={{this.obj.colorDanger}}
            @type="color"
            class="form-control"
            placeholder=""
            autocomplete="off"
            {{on "change" this.updateObject}}
          />
          <div class="form-text text-end">Danger Colour</div>
        </div>
        <div class="col-6 my-3">
          <Input
            id={{concat
              @type.slug
              "-"
              @module.input_slug
              "-"
              @id
              "-color-dark"
            }}
            @value={{this.obj.colorDark}}
            @type="color"
            class="form-control"
            placeholder=""
            autocomplete="off"
            {{on "change" this.updateObject}}
          />
          <div class="form-text text-end">Dark Colour</div>
        </div>
        <div class="col-6 my-3">
          <Input
            id={{concat
              @type.slug
              "-"
              @module.input_slug
              "-"
              @id
              "-color-light"
            }}
            @value={{this.obj.colorLight}}
            @type="color"
            class="form-control"
            placeholder=""
            autocomplete="off"
            {{on "change" this.updateObject}}
          />
          <div class="form-text text-end">Light Colour</div>
        </div>
      </div>

      {{!-- Font Input Fields Start --}}
      <div class="my-3">
        <Input
          id={{concat
            @type.slug
            "-"
            @module.input_slug
            "-"
            @id
            "-import-font-url1"
          }}
          @value={{this.obj.importFontURL1}}
          @type="text"
          class="form-control"
          placeholder="Enter Font URL"
          autocomplete="off"
          {{on "change" this.updateObject}}
        />
        <div class="form-text text-end">Import Font URL 1</div>
      </div>

      <div class="my-3">
        <Input
          id={{concat
            @type.slug
            "-"
            @module.input_slug
            "-"
            @id
            "-import-font-url2"
          }}
          @value={{this.obj.importFontURL2}}
          @type="text"
          class="form-control"
          placeholder="Enter Font URL"
          autocomplete="off"
          {{on "change" this.updateObject}}
        />
        <div class="form-text text-end">Import Font URL 2</div>
      </div>

      <div class="my-3">
        <Input
          id={{concat
            @type.slug
            "-"
            @module.input_slug
            "-"
            @id
            "-font-family1"
          }}
          @value={{this.obj.fontFamily1}}
          @type="text"
          class="form-control"
          placeholder="Enter Font Family"
          autocomplete="off"
          {{on "change" this.updateObject}}
        />
        <div class="form-text text-end">Font Family 1</div>
      </div>

      <div class="my-3">
        <Input
          id={{concat
            @type.slug
            "-"
            @module.input_slug
            "-"
            @id
            "-font-family2"
          }}
          @value={{this.obj.fontFamily2}}
          @type="text"
          class="form-control"
          placeholder="Enter Font Family"
          autocomplete="off"
          {{on "change" this.updateObject}}
        />
        <div class="form-text text-end">Font Family 2</div>
      </div>
      {{!-- Font Input Fields End --}}

      <div class="my-3 d-flex align-items-center justify-content-start">
        <div class="mx-n1"><XToggle
            @value={{this.object.currentObject.modules.visual_guide.isRounded}}
            @onToggle={{fn
              (mut this.object.currentObject.modules.visual_guide.isRounded)
            }}
            @theme="ios"
            @variant={{this.colormodes.mode}}
          /></div>
        <div class="form-text text-end ms-4">Is rounded?</div>
      </div>

      <div class="mt-5 position-relative">
        <Textarea
          readonly
          @value={{this.scss}}
          class="form-control border border-1 border-primary"
          rows="6"
          id="scss-textarea"
        />
        <button
          type="button"
          class="btn btn-sm btn-primary position-absolute"
          style="top: 10px; right: 10px;"
          {{on "click" this.copySCSS}}
        >
          <i class="fa-solid fa-copy"></i>
          Copy
        </button>
        <div class="form-text text-end">app.scss</div>
      </div>
    </div>

    <div class="card-footer border-0">

    </div>

  </div>

  <div class="form-text text-end">{{if
      @module.input_placeholder
      @module.input_placeholder
      (concat "Enter " @module.input_slug)
    }}</div>
</div>
{{/if}}