<tr
  id="row-{{@object.id}}"
  class="border-dark
    {{if
      (this.inArray @object.id (get @selectedRowIDs @type.slug))
      'bg-secondary'
    }}"
>
  <th
    class="border-end border-start border-1 border-dark"
    scope="row"
    {{on "click" this.toggleSelection}}
  >
    {{#if this.isSelected}}
      <i class="fa-solid fa-circle-check border border-1 rounded-circle border-{{this.colormodes.inverseMode}}"></i>
    {{else}}
      <i class="fa-solid fa-circle border border-1 rounded-circle border-{{this.colormodes.inverseMode}}"></i>
    {{/if}}
    {{@object.id}}
  </th>

  {{#each @type.modules as |module|}}
    {{#if module.list_field}}
      {{#if module.input_primary}}
        <td
          class="position-relative border-end border-1 border-dark"
          {{on "mouseover" this.showOptions}}
          {{on "mouseout" this.hideOptions}}
        >
          <div class="text-ellipsis" {{on "touchend" this.toggleOptions}}>{{get
              @object.modules
              module.input_slug
            }}</div>

          <Hooks::RowOptions
            @object={{@object}}
            @type={{@type}}
            @module={{module}}
          />

          <Types::ListTable::RowOptions
            @object={{@object}}
            @type={{@type}}
            @module={{module}}
          />
        </td>
      {{else}}
        <td
          class="position-relative border-end border-1 border-dark"
          {{on "mouseover" this.showOptions}}
          {{on "mouseout" this.hideOptions}}
        >
          <div class="text-ellipsis" {{on "touchend" this.toggleOptions}}>
            {{#if module.linked_type}}
              {{#if (this.isArray (get @object.modules module.input_slug))}}
                <div class="d-flex flex-wrap gap-1">
                  {{#each (get @object.modules module.input_slug) as |item|}}
                    <div 
                      class="badge bg-{{this.colormodes.inverseMode}} text-{{this.colormodes.mode}} text-ellipsis cursor-pointer" 
                      title="Click to view the linked object"
                      {{on 'click' (fn this.showBlueprintObjectModal module.linked_type item)}}
                    >
                      {{item}}
                    </div>
                  {{/each}}
                </div>
              {{else if (this.isCSV (get @object.modules module.input_slug))}}
                <div class="d-flex flex-wrap gap-1">
                  {{#each (this.split (get @object.modules module.input_slug) ",") as |item|}}
                    <div 
                      class="badge bg-{{this.colormodes.inverseMode}} text-{{this.colormodes.mode}} text-ellipsis cursor-pointer" 
                      title="Click to view the linked object"
                      {{on 'click' (fn this.showBlueprintObjectModal module.linked_type (this.trim item))}}
                    >
                      {{this.trim item}}
                    </div>
                  {{/each}}
                </div>
              {{else if (get @object.modules module.input_slug)}}
                <div
                  title="Click to view the linked object"
                  class="badge bg-{{this.colormodes.inverseMode}} text-{{this.colormodes.mode}} text-ellipsis cursor-pointer" 
                  {{on 'click' (fn this.showBlueprintObjectModal module.linked_type (get @object.modules module.input_slug))}}
                >
                  {{get @object.modules module.input_slug}}
                </div>
              {{/if}}
            {{else}}
              {{get @object.modules module.input_slug}}
            {{/if}}
          </div>
        </td>
      {{/if}}
    {{/if}}
  {{/each}}
</tr>